*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  color: dimgray;
}

a{
  color: dimgray;
}

.main-visual{
  width:100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size:cover;
  background-position: bottom;
}

.heading {
  color: dimgray;
  padding:20px;
}

main{
display:flex;
justify-content: center;
}

.main-box{
  width: 840px;
  margin:50px 0;
}

.content1{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid darkgray;
}

.content2{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid darkgray;
}

.content3{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid darkgray;
}

.content4{
  padding-bottom: 30px;
  border-bottom: 1px solid darkgray;
}
